* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* pagina de inicio  */

body {
  background-color: rgba(12, 12, 12, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(https://www.xtrafondos.com/descargar.php?id=1827&resolucion=2560x1600);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100px;
}
/*  encabezado */

header {
  display: flex;
  width: 100%;
  height: 150px;
  padding: 12px;
  background-color: rgba(77, 63, 180, 0.247);
  color: rgb(238, 232, 232);
  justify-content: space-between;
}
header a {
  color: aliceblue;
  font-size: small;
}

.formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
  align-items: baseline;
  color: rgb(240, 231, 231);
}
h2 {
  color: beige;
  text-align: center;
  padding: 40px;
  font-size: 30px;
}

/* h2:hover {
   color: rgb(0, 0, 0); 
} */
.logo-cr7 {
  display: flex;
  justify-content: center;
}
.logo-cr7 img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-1 {
  display: inline-blocks;
  align-items: centers;
  height: 50px;
  width: 50px;
  margin: 90px;
  color: rgb(229, 12, 12);
  border: 76px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(13, 13, 13);
  /* padding: 40px; */
}

.menu-1 {
  color: rgb(252, 247, 247);
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 70px;
}
.menu-1 li {
  color: white;
  padding: 20px;
}
.menu-1 :hover {
  color: rgb(5, 5, 5);
}
li a {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* seccion de pagina  */

.seccion-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  color: rgb(13, 13, 13);
}
.div-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-titulo h1 {
  text-align: center;
  color: white;
  padding: 50px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .div-titulo h1:hover {
  color: rgba(77, 63, 180, 0.755);
} */
.div-titulo p {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding-left: 20px;
}
.seccion-1 .div-img {
  display: flex;
  flex-direction: column;
}
.seccion-1 img {
  /* width: 80%; */
  height: 100%;
  margin-left: 50px;
  padding: 50px;
  border-radius: 28%;
  object-fit: cover;
}

.articulo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: last baseline;
  background-color: rgb(240, 230, 230);
  text-decoration: none;
  text-align: justify;
  padding-inline-end: 34px;
}

.articulo p {
  color: white;
}
.div-titulo p {
  color: rgb(249, 245, 245);
  display: flex;
  text-align: center;
}

/* pagina de biografia */

/* seccion de pagina  */
.seccion-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  color: rgb(13, 13, 13);
}
.div-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-titulo h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}

.div-img {
  display: flex;
  flex-direction: column;
}
.seccion-1 img {
  width: 90%;
  height: 90%;
  margin-left: 50px;
}
.articulo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: last baseline;
  background-color: rgb(240, 230, 230);
  text-decoration: none;
  text-align: justify;
  padding-inline-end: 34px;
}
.articulo p {
  color: white;
}

/* contenido */

.contenido-1 {
  text-align: center;
  margin: 100px;
}
.contenido-1 img {
  width: 100%;
  height: 100%;
  margin: 50px;
  padding-right: 50px;
}
.contenido-1 p {
  font-size: small;
  color: aliceblue;
  text-align: center;
  margin: 20px;
}

/* galeria de imagenes  */

h1 {
  font-size: 70px;
  color: #fff;
  text-align: center;
}
.contenedor {
  width: 100%;
  margin: auto;
}
img {
  width: 100%;
  height: 100%;
}
.cr7__columna img {
  border: solid white 10px;
}
.cr7__columna {
  margin: 5px;
}
.cr7 .contenedor {
  display: grid;
}

/* videos   */

.contenedor {
  width: 100%;
  margin: auto;
}
iframe {
  width: 100%;
  height: 100%;
}
.videos__columna {
  margin: 8px;
}
.videos .contenedor {
  display: grid;
}
.videos1 h2:hover {
  color: rgba(77, 63, 180, 0.755);
}
/* fin  de videos */

@media (min-width: 520px) {
  .cr7 .contenedor {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (min-width: 728px) {
  .cr7 .contenedor {
    grid-template-columns: repeat(3, 33.3%);
  }
}
@media (min-width: 1024px) {
  .cr7 .contenedor {
    grid-template-columns: repeat(4, 25%);
  }
  .contenedor {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 1200px;
  }
}

/* comienzo de footer */

footer {
  background-color: rgba(77, 63, 180, 0.247);
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-color: blue;
}
.redes-sociales {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  color: aliceblue;
  align-items: center;
  margin-right: 34px;
}
.titulo-footer {
  font-size: medium;
  color: aliceblue;
}
.iconos-2 img {
  height: 50px;
  width: 50px;
  border-radius: 20px;
  position: relative;
  left: 140px;
}
.iconos-2 p {
  color: white;
  position: relative;
  right: 200px;
}
h3 {
  color: white;
  display: flex;
}
.subtitulo {
  text-align: left;
  position: relative;
  left: 120px;
}
.div-titulo p {
  color: white;
}
.iconos img {
  border-radius: 70px;
  flex-direction: row;
}
.iconos-2 p {
  text-align: center;
}
.input_ {
  position: relative;
  right: 100px;
}
.input_ img {
  width: 100px;
  height: 100px;
  text-align: center;
}
/* contacto */
.formulario__ {
  padding: 130px;
  color: #fff;
}

/* media querys */

@media (min-width: 520px) {
  .cr7 .contenedor {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (min-width: 728px) {
  .cr7 .contenedor {
    grid-template-columns: repeat(3, 33.3%);
  }
}
@media (min-width: 1024px) {
  .cr7 .contenedor {
    grid-template-columns: repeat(4, 25%);
  }
  .contenedor {
    width: 1024px;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 1200px;
  }
}
@media (max-width: 500px) {
  .logo-cr7 {
    display: none;
  }
  .formulario {
    display: none;
  }
  /* .menu {
    width: 100%;
    font-size: 18px;
    flex: auto;
  } */
  .iconos-2 p {
    display: none;
  }
  .input_ {
    display: none;
  }
  .iconos-2 {
    display: flex;
    padding-right: 200px;
  }
  h3 {
    display: flex;
    padding-right: 130px;
    margin: 5px;
  }
  .menu-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .menu-1 li {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    align-items: flex-end;
    padding: 2px;
    padding-left: 120px;
    margin-top: 1px;
  }
  nav {
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 10px 0 px;
    padding-top: 10px;
  }
}

.card{
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  
}
.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 100px;
  margin-bottom: 10px;
  
  }
.card img {
  object-fit: cover;
  border-radius: 20%;
}
