/* BIOGRAFIA */

.contenido_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: #fcf7f7;
        text-align: center;
    }
}

.contenido-1 {
    text-align: center;
    margin: 100px;
    img {
        width: 100%;
        margin: 50px;
    }
    p {
        font-size: small;
        color: aliceblue;
        text-align: center;
    }
}

.contenido__bio {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    p {
        color: #fff;
        font-size: 20px;
    }
    a {
        color: #fff;
        list-style: none;
        font-size: xx-large;
        &:hover {
            color: black;
        }
    }
    h5 {
        color: rgba(69, 69, 71, 0.995);
        font-size: 30px;
        padding: 10px;
    }
}

.tarjeta_1 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.tarjeta_2 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.tarjeta_3 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.tarjeta_4 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.tarjeta_5 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.tarjeta_6 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 50px;
}