/* contacto */

.formulario__ {
    padding: auto;
    color: #eee8e8;
    padding: 50px;
}

.form-floating {
    height: 50px;
    margin: 50px;
    color: #050505;
}

.form_1 {
    color: #f0e7e7;
    text-align: center;
    margin-top: 90px;
    p {
        padding: 32px;
        font-size: 25px;
        font-family: sans-serif;
    }
}