/* GALERIA DE IMAGENES  */

h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
}

.contenedor {
    width: 100%;
    margin: auto;
    width: 100%;
    margin: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.cr7__columna {
    img {
        border: solid white 10px;
    }
    margin: 5px;
}

.cr7 {
    .contenedor {
        display: grid;
    }
}