/* GALERIA DE IMAGENES  */
h1 {
  font-size: 70px;
  color: #fff;
  text-align: center;
}

@mixin sizes ( $width, $margin) {
  width: $width;
  margin: $margin;
}
.contenedor{
  @include sizes (100%, auto)

}


.contenedor {
  width: 100%;
  margin: auto;
  
img {
  width: 100%;
  height: $altura;
  object-fit: cover;
}
}

.cr7__columna img {
  border: solid white 10px;
}

.cr7__columna {
  margin: 5px;
}

.cr7 .contenedor {
  display: grid;
}






