                                                                                        /* media querys */
                                                                                    
                                                                                    @media (min-width: 520px) {
                                                                                        .cr7 .contenedor {
                                                                                            grid-template-columns: repeat(2, 50%);
                                                                                        }
                                                                                    }
                                                                                    
                                                                                    @media (min-width: 728px) {
                                                                                        .cr7 .contenedor {
                                                                                            grid-template-columns: repeat(3, 33.3%);
                                                                                        }
                                                                                    }
                                                                                    
                                                                                    @media (min-width: 1024px) {
                                                                                        .cr7 .contenedor {
                                                                                            grid-template-columns: repeat(4, 25%);
                                                                                        }
                                                                                        .contenedor {
                                                                                            width: 1024px;
                                                                                        }
                                                                                    }
                                                                                    
                                                                                    @media (min-width: 1200px) {
                                                                                        .contenedor {
                                                                                            width: 1200px;
                                                                                        }
                                                                                    }
                                                                                    
                                                                                    @media (min-width: 520px) {
                                                                                        .cr7 .contenedor {
                                                                                            grid-template-columns: repeat(2, 50%);
                                                                                        }
                                                                                    }
                                                                                    
                                                                                    @media (min-width: 728px) {
                                                                                        .cr7 .contenedor {
                                                                                            grid-template-columns: repeat(3, 33.3%);
                                                                                        }
                                                                                    }
                                                                                    
                                                                                    @media (min-width: 1024px) {
                                                                                        .cr7 .contenedor {
                                                                                            grid-template-columns: repeat(4, 25%);
                                                                                        }
                                                                                        .contenedor {
                                                                                            width: 1024px;
                                                                                        }
                                                                                    }
                                                                                    
                                                                                    @media (min-width: 1200px) {
                                                                                        .contenedor {
                                                                                            width: 1200px;
                                                                                        }
                                                                                    }
                                                                                    
                                                                                    @media screen and (max-width: 720px) {
                                                                                        header {
                                                                                            flex-direction: column;
                                                                                            .menu {
                                                                                                .menu-1 {
                                                                                                    li {
                                                                                                        padding: 5px;
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                    
                                                                                    @media screen and (max-width: 500px) {
                                                                                        header {
                                                                                            height: 260px;
                                                                                            .logo-cr7 {
                                                                                                padding: 10px 0;
                                                                                            }
                                                                                            .menu {
                                                                                                padding: 0 !important;
                                                                                                .menu-1 {
                                                                                                    flex-direction: column;
                                                                                                    li {
                                                                                                        text-align: center;
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                        .formulario {
                                                                                            display: none;
                                                                                        }
                                                                                        @media screen and (max-width: 500px) {
                                                                                            footer {
                                                                                                height: 50%;
                                                                                            }
                                                                                            .iconos-2 {
                                                                                                flex-direction: column;
                                                                                                align-items: center;
                                                                                            }
                                                                                            .subtitulo h3 {
                                                                                                justify-content: flex-end;
                                                                                                padding-left: 50px;
                                                                                                margin-left: auto;
                                                                                            }
                                                                                            .divp p {
                                                                                                color: white;
                                                                                                font-size: medium;
                                                                                            }
                                                                                        }
                                                                                        @media (min-width: 728px) {
                                                                                            .contenido__bio {
                                                                                                flex-direction: column;
                                                                                            }
                                                                                            .contenido_1 h2 {
                                                                                                text-align: center;
                                                                                            }
                                                                                            .tarjeta_1 {
                                                                                                flex-direction: column;
                                                                                                padding-top: 80px;
                                                                                            }
                                                                                        }
                                                                                        @media screen and (max-width: 500px) {
                                                                                            .contenido__bio {
                                                                                                display: flex;
                                                                                                flex-direction: column;
                                                                                            }
                                                                                            .contenido_1 h2 {
                                                                                                text-align: center;
                                                                                                color: brown;
                                                                                            }
                                                                                            .tarjtea_3 {
                                                                                                margin-left: 40px;
                                                                                                padding-top: 50px;
                                                                                                align-items: center;
                                                                                            }
                                                                                            img {
                                                                                                height: auto;
                                                                                            }
                                                                                        }