/* VIDEOS  */

.container-videos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
}

.ratio {
    width: 30px;
    margin: 40px;
}

.videos-- {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}