/* VIDEOS  */

.videos {
  height: $altura;
  display: flex;
  justify-content: center;
}

.contenedor {
  width: auto;
  margin: auto;
}

iframe {
  width: 100%;
  height: $altura;
}

.videos__columna {
  margin: 8px;
}

.videos .contenedor {
  display: grid;
}

.videos1 h2:hover {
  color: $colorprincipal;
}
